h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 130px;
}

.form-flex {
  display: flex;
  justify-content: space-between;
}

#form-submit-div {
  display: flex;
  justify-content: flex-end;
}

section > div {
  margin-bottom: 0.25em;
}

#chart-container {
  margin: auto;
  height: 88vh;

  /* default large dataset */
  min-width: 1300px;
  min-height: 700px;
}

.small-dataset {
  min-width: 730px;
  min-height: 730px;
}

.medium-dataset {
  min-width: 1248px;
  min-height: 800px;
}
